.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
  min-height: 0;
}
.freeBox___5Je2 {
  max-width: 1140px;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__m4J8Y {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100vw;
  background: var(--token-eCJIU6Zp-_EqB);
}
.freeBox__m4J8Y > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__m4J8Y > :global(.__wab_flex-container) > *,
.freeBox__m4J8Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m4J8Y > :global(.__wab_flex-container) > picture > img,
.freeBox__m4J8Y
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__s9QRm {
  max-width: 1140px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  align-self: center;
  width: 100%;
  min-width: 0;
}
.productCarousel:global(.__wab_instance) {
  position: relative;
  margin-bottom: 64px;
  margin-top: 16px;
}
.freeBox__z8Qjb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 64px;
  margin-bottom: 64px;
}
.text__v06Fn {
  position: relative;
  color: var(--token-RlI9h6xM65mqU);
  font-size: 30px;
  font-weight: 500;
}
.productGrid {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.productGrid > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.productGrid > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.productGrid > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.productGrid > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.productGrid > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.productGrid > :global(.__wab_flex-container) > *,
.productGrid > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.productGrid > :global(.__wab_flex-container) > picture > img,
.productGrid
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productGrid {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .productGrid > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .productGrid > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 50px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .productGrid > :global(.__wab_flex-container) > *,
  .productGrid > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .productGrid > :global(.__wab_flex-container) > picture > img,
  .productGrid
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
.column__s8Kvp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__rXc2U:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard__rXc2U:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__zt1ME {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__zt1ME > picture > img {
  object-fit: cover;
}
.img__zt1ME > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__lBtaa:global(.__wab_instance) {
  position: relative;
}
.column__fz39A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__mi7NW:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__o1IiC {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__o1IiC > picture > img {
  object-fit: cover;
}
.img__o1IiC > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__hPhH:global(.__wab_instance) {
  position: relative;
}
.column__p1AEn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__fw4Sl:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__fc3Ui {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__fc3Ui > picture > img {
  object-fit: cover;
}
.img__fc3Ui > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__flMMx:global(.__wab_instance) {
  position: relative;
}
.column__qxI3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__sB1Z:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__tiPic {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__tiPic > picture > img {
  object-fit: cover;
}
.img__tiPic > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__h8VF:global(.__wab_instance) {
  position: relative;
}
.column__taSfr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productCard__nepQw:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__n0Wmx {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__n0Wmx > picture > img {
  object-fit: cover;
}
.img__n0Wmx > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__h9Kgr:global(.__wab_instance) {
  position: relative;
}
.column__wuTa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productCard__oN0Np:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__w587 {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__w587 > picture > img {
  object-fit: cover;
}
.img__w587 > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__uW4Hj:global(.__wab_instance) {
  position: relative;
}
.column___8B8Gg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productCard__f84Sp:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__m2DeF {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__m2DeF > picture > img {
  object-fit: cover;
}
.img__m2DeF > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__xrVz0:global(.__wab_instance) {
  position: relative;
}
.column___7ZLs3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productCard__k1RLp:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__wzBkR {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__wzBkR > picture > img {
  object-fit: cover;
}
.img__wzBkR > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__siQyo:global(.__wab_instance) {
  position: relative;
}
.text__rIg4I {
  height: auto;
}
.featureItem:global(.__wab_instance) {
  position: relative;
  margin-top: 16px;
  margin-bottom: 64px;
}
.freeBox__v2JeI {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 64px;
}
.text__xc6P {
  position: relative;
  color: var(--token-RlI9h6xM65mqU);
  font-size: 30px;
  font-weight: 500;
}
.columns__eYxJx {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__eYxJx > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 36px);
  width: calc(100% + 36px);
}
.columns__eYxJx > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__eYxJx > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__eYxJx > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__eYxJx > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__eYxJx > :global(.__wab_flex-container) > *,
.columns__eYxJx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__eYxJx > :global(.__wab_flex-container) > picture > img,
.columns__eYxJx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 36px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eYxJx {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eYxJx > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eYxJx > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eYxJx > :global(.__wab_flex-container) > *,
  .columns__eYxJx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__eYxJx > :global(.__wab_flex-container) > picture > img,
  .columns__eYxJx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.column__oNrGr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__xSrnI:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.text__gkCvI {
  height: auto;
}
.text__fo5Ob {
  height: auto;
}
.img___9Xnw {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___9Xnw > picture > img {
  object-fit: cover;
}
.img___9Xnw > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__bvDkA:global(.__wab_instance) {
  position: relative;
}
.column__iaVm7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__nnidi:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__hcYlV {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__hcYlV > picture > img {
  object-fit: cover;
}
.img__hcYlV > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__dzStY:global(.__wab_instance) {
  position: relative;
}
.column__j729F {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__dOo95:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__rWyU {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__rWyU > picture > img {
  object-fit: cover;
}
.img__rWyU > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__bxpdl:global(.__wab_instance) {
  position: relative;
}
.column__oDycz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__zgA5K:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard__zgA5K:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img___4XDsP {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___4XDsP > picture > img {
  object-fit: cover;
}
.img___4XDsP > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__y9OQs:global(.__wab_instance) {
  position: relative;
}
.freeBox__yt9Hx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__qdTom {
  position: relative;
  color: var(--token-RlI9h6xM65mqU);
  font-size: 30px;
  font-weight: 500;
}
.columns__jR9Re {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__jR9Re > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__jR9Re > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__jR9Re > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__jR9Re > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__jR9Re > :global(.__wab_flex-container) > *,
.columns__jR9Re > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__jR9Re > :global(.__wab_flex-container) > picture > img,
.columns__jR9Re
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jR9Re {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jR9Re > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jR9Re > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
.column___23KlA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__kRgL4:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__ttjZl {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__ttjZl > picture > img {
  object-fit: cover;
}
.img__ttjZl > .__wab_img-spacer > img {
  object-fit: cover;
}
.column___5BbX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__zfqLo:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__iPzP7 {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__iPzP7 > picture > img {
  object-fit: cover;
}
.img__iPzP7 > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__qb6Qi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__i1Fme:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__ia2Zq {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__ia2Zq > picture > img {
  object-fit: cover;
}
.img__ia2Zq > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__d4Kw {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100vw;
  height: auto;
  overflow: auto;
  background: var(--token-eCJIU6Zp-_EqB);
  padding: 48px;
}
.freeBox__d4Kw > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__d4Kw > :global(.__wab_flex-container) > *,
.freeBox__d4Kw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d4Kw > :global(.__wab_flex-container) > picture > img,
.freeBox__d4Kw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
.img__yheEu {
  position: relative;
  object-fit: cover;
  width: 90px;
  height: 60px;
  flex-shrink: 0;
}
.img__yheEu > picture > img {
  object-fit: cover;
}
.img__yheEu > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___9Vp {
  position: relative;
  object-fit: cover;
  width: 91px;
  height: 60px;
  flex-shrink: 0;
}
.img___9Vp > picture > img {
  object-fit: cover;
}
.img___9Vp > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__s1LLn {
  position: relative;
  object-fit: cover;
  width: 98px;
  height: 60px;
  flex-shrink: 0;
}
.img__s1LLn > picture > img {
  object-fit: cover;
}
.img__s1LLn > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__u1T5M {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 60px;
  flex-shrink: 0;
}
.img__u1T5M > picture > img {
  object-fit: cover;
}
.img__u1T5M > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___2U4AC {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 60px;
  flex-shrink: 0;
}
.img___2U4AC > picture > img {
  object-fit: cover;
}
.img___2U4AC > .__wab_img-spacer > img {
  object-fit: cover;
}
.footer:global(.__wab_instance) {
  position: relative;
}
