.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.freeBox__i7FCc {
  flex-direction: row;
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 128px 32px;
}
.freeBox__i7FCc > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__i7FCc > :global(.__wab_flex-container) > *,
.freeBox__i7FCc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i7FCc > :global(.__wab_flex-container) > picture > img,
.freeBox__i7FCc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i7FCc {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i7FCc > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i7FCc > :global(.__wab_flex-container) > *,
  .freeBox__i7FCc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__i7FCc > :global(.__wab_flex-container) > picture > img,
  .freeBox__i7FCc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.freeBox___9HZuN {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___9HZuN > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___9HZuN > :global(.__wab_flex-container) > *,
.freeBox___9HZuN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9HZuN > :global(.__wab_flex-container) > picture > img,
.freeBox___9HZuN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__fWuLk {
  position: relative;
  font-weight: 700;
}
.freeBox__pM2U0 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__pM2U0 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__pM2U0 > :global(.__wab_flex-container) > *,
.freeBox__pM2U0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pM2U0 > :global(.__wab_flex-container) > picture > img,
.freeBox__pM2U0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link__gmhGd {
  position: relative;
  color: var(--token-4-2XUfGC4KbX-);
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__gmhGd:hover {
  color: var(--token-eS-K9_F-qVI3C);
  padding-left: 10px;
}
.link__lJ0A {
  color: var(--token-4-2XUfGC4KbX-);
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__lJ0A:hover {
  color: var(--token-eS-K9_F-qVI3C);
  padding-left: 10px;
}
.link__oSv4M {
  position: relative;
  color: var(--token-4-2XUfGC4KbX-);
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__oSv4M:hover {
  color: var(--token-eS-K9_F-qVI3C);
  padding-left: 10px;
}
.link___4Raw4 {
  position: relative;
  color: var(--token-4-2XUfGC4KbX-);
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link___4Raw4:hover {
  color: var(--token-eS-K9_F-qVI3C);
  padding-left: 10px;
}
.freeBox___3SAoa {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___3SAoa > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___3SAoa > :global(.__wab_flex-container) > *,
.freeBox___3SAoa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3SAoa > :global(.__wab_flex-container) > picture > img,
.freeBox___3SAoa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text___3FfHa {
  position: relative;
  font-weight: 700;
}
.freeBox__x459T {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__x459T > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__x459T > :global(.__wab_flex-container) > *,
.freeBox__x459T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x459T > :global(.__wab_flex-container) > picture > img,
.freeBox__x459T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link__p8KHd {
  color: var(--token-4-2XUfGC4KbX-);
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__p8KHd:hover {
  color: var(--token-eS-K9_F-qVI3C);
  padding-left: 10px;
}
.link__rkzBn {
  position: relative;
  color: var(--token-4-2XUfGC4KbX-);
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__rkzBn:hover {
  color: var(--token-eS-K9_F-qVI3C);
  padding-left: 10px;
}
.link__cCinh {
  position: relative;
  color: var(--token-4-2XUfGC4KbX-);
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__cCinh:hover {
  color: var(--token-eS-K9_F-qVI3C);
  padding-left: 10px;
}
.link__hJ69F {
  position: relative;
  color: var(--token-4-2XUfGC4KbX-);
  transition-property: all, all;
  transition-duration: 1s, 0.5s;
}
.root .link__hJ69F:hover {
  color: var(--token-eS-K9_F-qVI3C);
  padding-left: 10px;
}
.link__fR9Jz {
  position: relative;
  color: var(--token-4-2XUfGC4KbX-);
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__fR9Jz:hover {
  color: var(--token-eS-K9_F-qVI3C);
  padding-left: 10px;
}
.freeBox__vYcSs {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__vYcSs > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__vYcSs > :global(.__wab_flex-container) > *,
.freeBox__vYcSs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vYcSs > :global(.__wab_flex-container) > picture > img,
.freeBox__vYcSs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__cios2 {
  position: relative;
  font-weight: 700;
}
.freeBox__ptxtZ {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__ptxtZ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ptxtZ > :global(.__wab_flex-container) > *,
.freeBox__ptxtZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ptxtZ > :global(.__wab_flex-container) > picture > img,
.freeBox__ptxtZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link__mtDli {
  color: var(--token-4-2XUfGC4KbX-);
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__mtDli:hover {
  color: var(--token-eS-K9_F-qVI3C);
  padding-left: 10px;
}
.link__eauKa {
  position: relative;
  color: var(--token-4-2XUfGC4KbX-);
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__eauKa:hover {
  color: var(--token-eS-K9_F-qVI3C);
  padding-left: 10px;
}
.link__nx7Xg {
  position: relative;
  color: var(--token-4-2XUfGC4KbX-);
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__nx7Xg:hover {
  color: var(--token-eS-K9_F-qVI3C);
  padding-left: 10px;
}
.link__sswei {
  position: relative;
  color: var(--token-4-2XUfGC4KbX-);
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__sswei:hover {
  color: var(--token-eS-K9_F-qVI3C);
  padding-left: 10px;
}
.link__c1NiZ {
  position: relative;
  color: var(--token-4-2XUfGC4KbX-);
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__c1NiZ:hover {
  color: var(--token-eS-K9_F-qVI3C);
  padding-left: 10px;
}
.freeBox___5B9RF {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___5B9RF > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___5B9RF > :global(.__wab_flex-container) > *,
.freeBox___5B9RF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5B9RF > :global(.__wab_flex-container) > picture > img,
.freeBox___5B9RF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__eLkFo {
  position: relative;
  font-weight: 700;
}
.text___42OUc {
  position: relative;
  font-size: 14px;
  color: var(--token-4-2XUfGC4KbX-);
}
.freeBox___0Kf0R {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  box-shadow: 0px 4px 16px 0px #cbcbcb;
  transition-property: all;
  transition-duration: 0.5s;
  height: 48px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 5px;
}
.root .freeBox___0Kf0R:hover {
  box-shadow: 4px 4px 4px 4px var(--token-4-2XUfGC4KbX-);
}
.textInput {
  position: relative;
  width: 100%;
  font-size: 14px;
  min-width: 0;
  border-radius: 5px;
  padding: 12px;
  border-width: 0px;
}
.button {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 48px;
  flex-shrink: 0;
  padding: 0px;
  border-width: 1px;
  border-style: none;
}
.svg__nZjq {
  position: relative;
  object-fit: cover;
  color: var(--token-eS-K9_F-qVI3C);
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.freeBox__ig09 {
  flex-direction: column;
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  width: 100vw;
  height: auto;
  align-self: center;
  background: var(--token-eCJIU6Zp-_EqB);
  padding: 32px 16px;
}
.freeBox__ig09 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ig09 > :global(.__wab_flex-container) > *,
.freeBox__ig09 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ig09 > :global(.__wab_flex-container) > picture > img,
.freeBox__ig09
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__anDnf {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__anDnf > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__anDnf > :global(.__wab_flex-container) > *,
.freeBox__anDnf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__anDnf > :global(.__wab_flex-container) > picture > img,
.freeBox__anDnf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__vhinn:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__rYWz2 {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg__rYWz2:hover {
  color: var(--token-eS-K9_F-qVI3C);
}
.iconLink__pKzxT:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__apujv {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg__apujv:hover {
  color: var(--token-eS-K9_F-qVI3C);
}
.iconLink__byHBs:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__xQtkC {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg__xQtkC:hover {
  color: var(--token-eS-K9_F-qVI3C);
}
.freeBox__ze9I {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ze9I {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.text__ueWqc {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.link__nglpa {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.root .link__nglpa:hover {
  text-decoration-line: underline;
}
.link__c8Y {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.root .link__c8Y:hover {
  text-decoration-line: underline;
}
