.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__it6Bk {
  display: flex;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 32px 0px;
}
.freeBox__it6Bk > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__it6Bk > :global(.__wab_flex-container) > *,
.freeBox__it6Bk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__it6Bk > :global(.__wab_flex-container) > picture > img,
.freeBox__it6Bk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__it6Bk {
    padding: 16px 5px;
  }
}
.menuButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButton:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.menuButtonexpanded:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButtonexpanded:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  flex-shrink: 0;
}
.img {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__nwfOt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nwfOt {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxexpanded__nwfOttOzpA {
    display: none;
  }
}
.linkButton__yiI70:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__rG14E:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__pIbQd:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__jlTSv:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__oJLlb:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__cuCaZ {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
}
.freeBox__cuCaZ > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__cuCaZ > :global(.__wab_flex-container) > *,
.freeBox__cuCaZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cuCaZ > :global(.__wab_flex-container) > picture > img,
.freeBox__cuCaZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.searchLink:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__qEfBi {
  position: relative;
  object-fit: cover;
  color: var(--token-4bfB2KHdt2Daz);
  width: 18px;
  height: 18px;
}
.root .svg__qEfBi:hover {
  color: var(--token-eS-K9_F-qVI3C);
}
.cogLink:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__cRxbq {
  position: relative;
  object-fit: cover;
  color: var(--token-4bfB2KHdt2Daz);
  width: 18px;
  height: 18px;
}
.root .svg__cRxbq:hover {
  color: rgb(233, 156, 46);
}
.cartLink:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__kaXma {
  position: relative;
  object-fit: cover;
  color: var(--token-4bfB2KHdt2Daz);
  width: 18px;
  height: 18px;
}
.root .svg__kaXma:hover {
  color: var(--token-eS-K9_F-qVI3C);
}
.freeBox__xUoU {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  display: none;
}
.linkButton___2QEdx:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__sjS0L:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__lVSmQ:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__tyNfi:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__jslti:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
